/* Custom CSS styles */
body{
  font-family: Arial, sans-serif;
    background-color: #d5dae1;
}
header {
    background-color: #2a2a72; /* Dark blue background */
    color: white;
    padding: 15px;
    text-align: center;
  }

  .sidebar {
    width: 250px;
    background-color: #2a2a72; /* Dark blue background */
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 60px;
    overflow-y: auto;
  }

  .sidebar ul {
    list-style-type: none;
    padding-left: 0;
  }

  .sidebar li {
    padding: 10px;
    border-bottom: 1px solid #868b8df3;
  }

  .sidebar li a {
    color: #b4c9e6;
    text-decoration: none;
    display: block;
  }

  .sidebar li a:hover {
    color: #ffffff;
  }

  main {
    /* margin-left: 250px; Width of the sidebar */
    padding: 20px;
  }

  @media (max-width: 768px){
    .sidebar {
        width: 100%;
        position: static;
        padding-top: 20px;
        overflow-y: visible;
    }
  }
  @media (min-width: 992px){
    .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 80%;
}

  }
  /* Custom Card Styles */
  .card {
    margin-bottom: 20px;
    border-radius: 10px;
  }

  /* Chart Container */
  .chart-container {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }
  .container-with-shadow {
  margin-top: 30px;
      background-color: #fff; /* White background */
      border-radius: 8px; /* Rounded corners */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
      padding: 18px; /* Padding inside the container */
      margin-bottom: 20px; /* Margin to separate from other elements */
  }



  @media only screen and (max-width: 768px) {
    /* Hide the table header */
  
    /* Enable horizontal scrolling */
    .table-responsive {
      overflow-x: auto;
    }
  
    /* Set specific width for each table cell */
    table td {
      min-width: 120px; /* Adjust as needed */
    }
  }
  